* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container .box {
  margin-bottom: 15px;
}
@media (min-width: 1500px) {
  .container {
    column-count: 4;
  }
}

/* Medium screens */
@media (max-width: 1499px) and (min-width: 768px) {
  .container {
    column-count: 3;
  }
}

/* Small screens */
@media (max-width: 1200px) and (min-width: 768px) {
  .container {
    column-count: 2;
  }
}

/* Smallest screens */
@media (max-width: 767px) {
  .container {
    column-count: 1;
  }
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
